footer{
    background: #474adb;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}
footer a{
    color: white;
}

.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.footer-logo span{
    color: #f9ca24;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.nav-links a{
    color: #f9ca24;
}
.nav-links a:hover{
    color: white;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
    
}
.social-links a{
    background: black;
    color: #f9ca24;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
.social-links a:hover{
    background: transparent;
    color: white;
    border-color: yellowgreen;
}
.footer-copyright{
    margin-bottom: 4rem;
    color:black
}

@media screen and (max-width:700px) {
    .nav-links{
        flex-direction: column;
        gap: 1.5rem;
    }
    .social-links{
        margin-bottom: 2rem;
    }
    
}
